main {
    display: flex;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 20em;
}

section {
    display: flex;
    justify-content: space-between;
    width: 17em;
    margin: 0 0 5px 5px;
}

select {
    width: 55%;
}

section.submit {
    justify-content: flex-end;
}

#settings {
    float: right;
    position: relative;
    bottom: 2em;
    right: 2em;
    padding: 15px 6px;
    border: 1px solid gray;
    border-radius: 20px;
}
